
<h1 class="center get-more-skills">Get more Skills</h1>

<div class="mixed center">
    <div class="mixed-left">
      <% if (locals.addCourse) { 
          addCourse.forEach((course) => { %>
          <a
          href="/training?id=<%= course.id %>"
            class="additional-course-card"
            style="
              background-image: linear-gradient(
                rgba(0,212,255,0) 21%, rgba(0, 0, 0, 0.747) 61%, rgb(0, 0, 0) 100%
                ),
                url(<%= course.image_source %>);
                "
            data-course-id="<%= course.id %>"
          >
            <p>Additional Course</p>
            <h1><%= course.judul %></h1>
            <span><small><%= course.total_lesson %> lessons</small></span> <span><small><%= course.waktu %></small></span>
            <div class="ratings">
              <small><%= course.rating %>.0</small>
              <% for (let i = 0; i < course.rating; i++) { %>
                <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <% } %>
              <% for (let i = course.rating; i < 5; i++) { %>
                <i class="fa-solid fa-star" style="color: #dcdcdc"></i>
              <% } %>
            </div>
            <small>Created by</small>
            <h3><%= course.pembuat %></h3>
        </a>
      <% }) } %>
    </div>
  
    <div class="mixed-right">
      <div class="announcements">
        <div class="ann-title">
          <h3>
            <i class="fa-regular fa-newspaper" style="color: #949494"></i>
            Your Task
          </h3>
        </div>
        <a class="drop-down" href="#"><i class="fa-solid fa-caret-down"></i></a>
        <div class="ann-cards-container">
          <% studentTask.forEach((task,index)=>{ %>
            <% if(task.on_going)  {%>
            <div class="ann-cards">
              <a class="ann-card" href="/task">
                <div class="cardpin" style="margin-right:3px ;"></div>
                <p class="text-center">  <%= task.task_title %></p>
              </a>
            </div>
          <% }}) %>
        </div>
        <small><em>Do your assignments as if they were due tomorrow.</em></small>
      </div>
    </div>
    </div>
  </div>