
<h1 class="center get-more-skills">Get more Skills</h1>

<div class="mixed center">
    <div class="mixed-left">
      <% if (locals.addCourse) { 
          addCourse.forEach((course) => { %>
          <a
          href="/training?id=<%= course.id %>"
            class="additional-course-card"
            style="
              background-image: linear-gradient(
                rgba(0,212,255,0) 21%, rgba(0, 0, 0, 0.747) 61%, rgb(0, 0, 0) 100%
                ),
                url(<%= course.image_source %>);
                "
            data-course-id="<%= course.id %>"
          >
            <p>Additional Course</p>
            <h1><%= course.judul %></h1>
            <span><small><%= course.total_lesson %> lessons</small></span> <span><small><%= course.waktu %></small></span>
            <div class="ratings">
              <small><%= course.rating %>.0</small>
              <% for (let i = 0; i < course.rating; i++) { %>
                <i class="fa-solid fa-star" style="color: #ffd43b"></i>
              <% } %>
              <% for (let i = course.rating; i < 5; i++) { %>
                <i class="fa-solid fa-star" style="color: #dcdcdc"></i>
              <% } %>
            </div>
            <small>Created by</small>
            <h3><%= course.pembuat %></h3>
        </a>
      <% }) } %>
    </div>
  
    <div class="mixed-right">
      <div class="announcements">
        <h3>
          <i class="fa-regular fa-newspaper" style="color: #949494"></i>
          announcement
        </h3>
        <a class="drop-down" href=""><i class="fa-solid fa-caret-down"></i></a>
        <hr />
        <div class="ann-cards">
          <div class="ann-card">
            <h4>This is the first announcement</h4>
            <div class="ann-card-low">
              <small>published by: </small>
              <span><small>Yoga Adi Saputra</small></span><br />
              <small>Jul 25, 2024</small>
              <hr />
            </div>
          </div>
          <div class="ann-card">
            <h4>This is the Second announcement</h4>
            <div class="ann-card-low">
              <small>published by: </small>
              <span><small>Yoga Adi Saputra</small></span><br />
              <small>Jul 25, 2024</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>