<header>
  <% if (locals.page) { %>
    <nav class="navbar">
      <div class="navbar-left">
        <div class="logo">
          <a href="/"><h1 class="etna"><span class="textwhite">Due</span><span class="textpurple">Tomorrow</span></h1></a>
        </div>
      </div>
      <ul class="nav-links">
        <li> 
          <a href="/" id="home" class="<%= page === 'main' ? 'nav-select' : '' %>">
            Home
          </a>
        </li>
        <li>
          <a href="/training-home" id="training" class="<%= page === 'training' ? 'nav-select' : '' %>">Training</a>
        </li>
        <li>
          
          <a href="/task" id="task" class="<%= page === 'task' ? 'nav-select' : '' %>">Task</a>
        </li>
        <li>
          <a href="/forum" id="forum" class="<%= page === 'forum' ? 'nav-select' : '' %>">Forum</a>
        </li>
      </ul>
      <div class="navbar-right">
        <a class="dot" >
            <%= studentName.charAt(0) + studentName.charAt(studentName.length-1) %>
        </a>
        
        <div class="account-drop"> <!-- ini akan muncul kalau a.dot ditekan -->
          <div class="account-header">
            <a class="dot">
              <%= studentName.charAt(0) + studentName.charAt(studentName.length-1) %>
            </a>
            <div class="account-info">
              <h3><%= studentName %></h3>
              <p>Email@asdasdas</p>
            </div>
          </div>
          <a href="/logout" class="logout">Logout             <i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
        
      </div>
    </nav>
  <% } %>
</header>
