<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs") %>
<body>

<% if (locals.course) {  %>
<div class="timer-container"  >
    <div class="left-timer">
        <% let linkBack = null %>
        <a href="/"><img src="/image/logoc.png" alt="Logo" /></a>
            <% if(lessonType=="additional"){ %>
                <a class="back" href="http://localhost:3000/training?id=<%= course.id %>"><i class="fa-solid fa-angles-left" style="color: #ffffff;"></i></a>
            <% } else {  %>
                <a class="back" href="http://localhost:3000/training/main?id=<%= course.id %>"><i class="fa-solid fa-angles-left" style="color: #ffffff;"></i></a>
           <% }%>
    </div>

    <div class="right-timer">
        <small class="timer" id="timer">00:00</small>
    </div>
</div>

<div class="content-page" data-course-id="<%= course.id %>" data-course-type = "<%= lessonType %>">
    <div class="left-content-page">
        <div class="course-title" style="background-image: linear-gradient(rgba(0,212,255,0) 11%, rgba(0, 0, 0, 0.747) 71%, rgb(0, 0, 0) 100%),url(<%= course.image_source %>);">
            <h1><%= lessons[lessonIndex].lesson_title %></h1>
            <!-- this for % bar -->
            <div class="progress-container" data-progress="<%= percentage %>">
                <div class="progress-bar"></div>
                <div class="progress-text"></div>
            </div>
        </div>
        <div class="lessons">
            <h3><%= lessons.length %> lessons</h3>
            <% lessons.forEach((lesson, index) => { %>
                <% if (index == lessonIndex) { %>
                    <a class="lesson-bar selected" href="/training/content?id=<%= course.id %>&lessonIndex=<%= index %>&type=<%= lessonType %>">
                        <p><%= lesson.lesson_title %></p>
                        <input type="checkbox" class="lesson-checkbox" data-lesson-id="<%= lesson.id %>" <% if (progress[index] && progress[index].complete) { %>checked<% } %>>
                    </a>
                <% } else { %>
                    <a class="lesson-bar" href="/training/content?id=<%= course.id %>&lessonIndex=<%= index %>&type=<%= lessonType %>">
                        <p><%= lesson.lesson_title %></p>
                        <input type="checkbox" class="lesson-checkbox" data-lesson-id="<%= lesson.id %>" <% if (progress[index] && progress[index].complete) { %>checked<% } %>>
                    </a>
                <% } %>
            <% }) %>
        </div>
    </div>
    <div class="right-content-page">
        <div class="video" >
            <% if (lessons[lessonIndex].youtube_url) { %>
                <div id="player"></div>
            <% } else { %>
                <video width="100%" controls>
                    <source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML video.
                </video>
            <% } %>
        </div>
        <div class="detail-attachment">
            <em>lesson attachment : -</em>
        <% } %>
        </div>
    </div>
</div>

<script>
    var lessonVideoId = '<%= lessons[lessonIndex].youtube_url %>';
    var lessonId = '<%= lessons[lessonIndex].id %>';
</script>
<script src="/js/youtube_player.js"></script>
<script src="/js/req.js"></script>



<script src="https://kit.fontawesome.com/462e5cdfa2.js" crossorigin="anonymous"></script>
<script src="/js/index.js"></script> 

</body>
</html>
