<!DOCTYPE html>
<html lang="en">

<%- include("partials/header.ejs") %>
<body>
  <%- include("partials/navbar.ejs") %>
  <div class="main">
    
    <div class="center forum-body">
      <div class="forum-title">
        <div>
          <h1>General</h1>
          <p>Use this forum for general discussion, you can ask either related to the training or not </p>
        </div>
      </div>
      <div class="forum-switch">
        <div class="switch">
          <a href="#" class="switch-content selected-content" data-target="Main">
              <small>lastest</small>
          </a>      
          <a href="#" class="switch-content" data-target="Additional">
              <small>Popular</small>
          </a>          
      </div>
        <div class="newpost">
          <a href="" id="newpost">&plus; Post</a>
        </div>
      </div>
       <% if (locals.posts) { %>
        <div class="post-container">
          <% posts.forEach((post)=>{ %>
            <% if (admin) {%>
            <a class="deletePost" href="/post-delete?id=<%=post.id%>">X</a>
            <% } %>
            <a class="post" href="/post/content?id=<%=post.id%>">
              
              <% const user = students.find(student => student.id === post.student_id );  %> 
              <% const nama = user ? user.nama : 'User not found' ;%>
              
              <div class="left-post">
                <h2><%=post.title%> </h2>
                <small><%= post.date %> || <strong>Author: <%=nama%></strong></small>
               
              </div>
              <div class="right-post">
                <div class="view">
                  <p>view</p>
                  <p><%=post.view %></p>
                </div>
                <div class="comment-count">
                  <p>comment</p>
                  <% const filteredComment = comments.filter(row => row.post_id === post.id).length;%>
                  <p><%= filteredComment %></p>
                
                </div>
              </div>
            </a>
            <% }) %>
          </div>
        
      <% } %>
        

    </div>
    <div class="task-popup hidden" id="task-popup">
      <a href="#" id="popup-close" style="text-align: right;"><i class="fa-solid fa-circle-xmark fa-lg" style="color: #3f3f3f;"></i></a>
      <form id="submit-form" action="/forum" method="POST">
        <label for="title" class="label">Title : </label>
        <textarea id="textarea" name="title" placeholder="Wrtie the title here" rows="3" cols="200"></textarea>
        <label for="body" class="label"> Body : </label>
        <textarea id="textarea" name="body" placeholder="Wrtie the content here" rows="15" cols="200"></textarea>
        <br>
        <label for="fileInput" class="upload">
          
        <input type="submit" value="Post" class="submit" >
      </form>
    </div>
  </div>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const deleteLinks = document.querySelectorAll('.deletePost');
      deleteLinks.forEach(link => {
        link.addEventListener('click', (e) => {
          e.preventDefault(); // Prevent default link behavior
          const confirmation = confirm('Are you sure want to delete this post?');
          if (confirmation) {
            window.location.href = link.href; 
          }
        });
      });
    });
  </script>

  <%- include("partials/footer.ejs") %>
  <script src="https://kit.fontawesome.com/462e5cdfa2.js" crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>
</html>
