<!DOCTYPE html>
<html lang="en">
   <%- include("partials/header.ejs") %>
  <body>
   <%- include("partials/navbar.ejs") %>

   <!---carousel-------------------------------------------------------->
   <div class="slideshow-container">

    <div class="mySlides fade">
      <img src="image/carousel/a.jpg" style="width:100%">
      <div class="text welcome"><h1 class="etna">Welcome Back</h1> <h1 class="etna"><%=studentName  %></h1></div>
    </div>
    
    <div class="mySlides fade">
      <img src="image/carousel/b.gif" style="width:100%">
      <div class="text"><a href="">E-Book for you <i class="fa-solid fa-caret-right" style="color: rgb(99, 184, 141);"></i></a></a></div>
    </div>
    
    <div class="mySlides fade">
      <img src="image/carousel/c.jpg" style="width:100%">
      <div class="text"><a href="" style="color: w;"></a></div>
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    
    </div>
    <br>
    
    
    <!----------------------------------------------------------------------------------------------->
    <div class="startLearning-top center">
      <h1>Continue Your Learning</h1>
      <a href="/training-home">All Course ></a>
    </div>
    <%- include("partials/main.ejs") %>

    <div class="banner center">
      <div class="adv">
        <h3>
          Need mobility?
          <small>Download Our mobile App :</small>
        </h3>
      </div>
      <div class="buttons">
        <button class="playstore">PlayStore</button>
        <button class="appstore">AppleStore</button>
      </div>
    </div>

    <div class="nextLearn center">
      <div class="nextLearn-top">
        <h1>Prepare next modules</h1>
        <h3>Next Topic Assigned for you</h3>
      </div>
      <div class="big-card">
          <div class="big-card-img">a</div>
        <div class="big-card-content">
          <h1>Track Your Learning with Blog</h1>
          <h3>
            Write all your learning experiences the difficulties you face, the pleasure you get. Record it all for the future
          </h3>
          <small></small>
          <small><a href="">Go to Dev-Blog <i class="fa-solid fa-caret-right" style="color: #295fbc;"></i></a></small>
        </div>
      </div>
    </div>

    <script>
      let slideIndex = 1;
      showSlides(slideIndex);
      
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
      
      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
      }
      </script>

    <%- include("partials/mixed.ejs") %>
    <%- include("partials/footer.ejs") %>

    
    <script
      src="https://kit.fontawesome.com/462e5cdfa2.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/index.js"></script>
  </body>
</html>
