<!DOCTYPE html>
<html lang="en">

<%- include("partials/header.ejs") %>
<body>
  <div class="main">
    <%- include("partials/navbar.ejs") %>
    <div class="center training-header">
      <div class="switch">
          <a href="#" class="switch-content selected-content" data-target="Main">
              <p>Main Courses</p>
          </a>      
          <a href="#" class="switch-content" data-target="Additional">
              <p>Additional Courses</p>
          </a>      
          <a href="#" class="switch-content" data-target="Completed">
              <p>Completed Courses</p>
          </a>      
      </div> 
      <div class="training-title">
        <h1 id="trainingTitle" class="home-title">Main Courses</h1>
      </div>
    </div>

    <div id="Main" class="content-section">
      <%- include("partials/main.ejs") %>
    </div>
    <div id="Additional" class="content-section hidden">
      <%- include("partials/additional.ejs") %>
    </div>
    <div id="Completed" class="content-section hidden">
      <%- include("partials/complete.ejs") %>
    </div>
  </div>
  
  <%- include("partials/footer.ejs") %>

  <script src="https://kit.fontawesome.com/462e5cdfa2.js" crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>
</html>
